.header {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  @media screen and (max-width: 730px) {
    display: flex;
    flex-direction: column;
    justify-items: start;
  }

  .header-left {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 730px) {
      width: 100%;
    }

    h1 {
      font-size: 5rem;
      font-weight: 600;

      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
      @media screen and (max-width: 850px) {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
      color: $color4;

      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
      }
    }

    p {
      font-size: 0.8rem;

      @media screen and (max-width: 1024px) {
        font-size: 0.7rem;
      }
    }
  }

  #modem {
    width: 100%;

    @media screen and (max-width: 730px) {
      width: 50%;
    }
  }
}
