.infos {
  background: $color1;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;

  @media screen and (max-width: 730px) {
    display: block;
  }

  .infos-left {
    @media screen and (max-width: 730px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;

      button {
        height: 40px;
        width: 160px;
        margin: 7px;
        background: $color4;
        color: $color3;
        border: none;
        border-radius: 15px;
        font-family: "Inter";
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .infos-right {
    @media screen and (max-width: 730px) {
      text-align: center;
    }

    .investors {
      height: 70%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          width: 120px;

          @media screen and (max-width: 540px) {
            width: 80px;
          }

          @media screen and (max-width: 380px) {
            width: 60px;
          }
        }
      }
    }
  }
}
