nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 730px) {
      width: 70%;
    }

    @media screen and (max-width: 540px) {
      font-size: 0.8rem;
    }

    @media screen and (max-width: 380px) {
      width: 65%;
      font-size: 0.6rem;
    }

    li {
      cursor: pointer;
    }
  }
}
