@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

$color1: rgb(10, 10, 10);
$color2: rgb(22, 22, 22);
$color3: rgb(245, 245, 245);
$color4: rgb(5, 5, 230);

* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: $color2;
  color: $color3;
}
